.wiki-layout {
  display: block;
  overflow: auto;
}

.wiki-layout * {
  text-align: left;
}

.infobox {
  background: var(--surface0);
  padding: 16px;
  border-radius: 6px;
  width: 325px;
  float: right;
  margin-left: 18px;
}

.infobox img {
  width: 288px;
  border-radius: 6px;
}

.infobox-row {
  display: flex;
  border-top: 1px solid var(--subtext0);
  align-items: center;
}

.infobox-row-last {
  border-bottom: 1px solid var(--subtext0);
}

.infobox-key {
  width: 50%;
  font-weight: 600;
  font-size: 0.95rem;
  border-right: 1px solid var(--subtext0);
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infobox-value {
  width: 50%;
  color: var(--text);
  font-size: 0.95rem;
}

.infobox-row.wide-value .infobox-key {
  width: 30%;
}

.infobox-row.wide-value .infobox-value {
  width: 70%;
  text-align: left;
}

.flag {
  height: 15px !important;
  width: 30px !important;
  border-radius: 0 !important;
}

.infobox-sub {
  color: var(--mauve);
}
